:root{
    --purple : #8768D1;
    --yellow : #FEDA76E5;

    --white : #fff;
    --textColor:#363B45;
    --textDim:#ACACAC;
    --textPara:#484F5C;
    --btnColor1:#DE9DD0;
    --btnColor2:#FFD145;
    --btnColor3:#65D869;
    --btnColor4:#1976D2;
}
